{% extends 'jobs/index.html' %}
{% load static %}
{% block title %} Add Room {% endblock %}

{% block content %}
{% if user.is_authenticated %}



<section class="eskill-banner">
	<div class="eskill-title">Features</div>
</section>

<section class="room-back">
	<div class="skill-content">
		<div>
			<h3>Fill the features below:</h3>
			<div class="row facilities">
				<form class="fill-facilities" action="{% url 'room:postroom' room.id %}" method="post"
					enctype="multipart/form-data">
					{% csrf_token %}

					<div class="form-input">
						<label>Owner name</label>
						<input type="text" name="owner_name" class="form-control">
					</div>
					<div class="form-input">
						<label>Location</label>
						<input type="text" name="location" class="form-control">
					</div>
					<div class="form-input">
						<label>Conatct no.</label>
						<input type="number" name="contact" class="form-control">
					</div>

					<div class="form-input">
						<label>Condition of rooms/flats</label>
						<input type="text" name="condition" class="form-control">
					</div>
					<div class="form-input">
						<label>Facilities</label>
						{% for facility in facilities %}
						{% if facility.room_type_id == type.id %}
						<div class="form-check">
							<input type="checkbox" name="facility" id="facility-{{facility.id}}"
								value="{{facility.id}}">
							<label for="facility-{{ facility.id }}">{{facility.title}}</label>
						</div>
						{% endif %}
						{% endfor %}
						<br>
						<span class="other"><i class="fas fa-angle-right"></i><a href="#popup1">Others</a></span>
					</div>
					<div class="form-input">
						<label>Rent price</label>
						<div class="form-check">
							<input type="radio" name="money" id="price1">
							<label class="">3000</label>
						</div>
						<div class="form-check">
							<input type="radio" name="money" id="price2">
							<label>4000</label>
						</div>
						<div class="form-check">
							<input type="radio" name="money" id="price3">
							<label>5000</label>
						</div>
						<div class="form-check">
							<input type="radio" name="money" id="price4">
							<label>6000</label>
						</div>
						<div class="form-check">
							<input type="radio" name="money" id="price4">
							<label>7000</label>
						</div>
						<div class="form-check">
							<input type="radio" name="money" id="price4">
							<label>7500</label>
						</div>
					</div>
					<div class="form-input">
						<label>Upload image</label>
						<input type="file" id="file" name="file" accept="image/png, image/jpeg" multiple>
					</div>
					<!-- <div class="form-input">
						<label>Upload video</label>
						<input type="file" id="file" name="file" accept="video/*">
					</div> -->
				</form>
			</div>
			<span class="other"><i class="fas fa-angle-right"></i><a href="#popup2">Others</a></span>
			<div class="submit-btn">
				<button type="button" class="btn-submit">Submit</button>
			</div>
		</div>
	</div>

	<div id="popup1" class="overlay">
		<div class="popup">
			<h4>Please enter the prefer facilities</h4>
			<a class="close" href="#">&times;</a>
			<div class="popup-content">
				<form action="{% url 'room:add_facility' %}" method="POST">
					{% csrf_token %}
					<select name="job_type" class="form-control" required style="display:none;">
						<option value="{{type.id}}">{{type.title}}</option>
					</select>

					{% if form.errors %}
					<div class="alert alert-danger">
						{{form.title.errors}}
					</div>
					{% endif %}

					<textarea name="title" required></textarea>
					<div class="more-btn"><button type="submit">Add</a></div>
				</form>
			</div>
		</div>
	</div>

</section>


{% endif %}
{% endblock %}