{% extends 'jobs/index.html' %}
{% load static %}
{% block title %} Roomlist {%endblock %}
{% block content%}
{% if user.is_authenticated %}

<section class="newsfeed">
  <div class="container">
    <!-- roomseeker -->
    {% if user.profile.user_type == 'Job Seeker' %}
    <div class="news-add">
      <div class="add-button"><a href="{% url 'room:searchroom' room.id %}">Search</a></div>
    </div>
    {% else %}
    <div class="news-add">
      <div class="add-button">
        <a href="{% url 'room:postroom' room.id %}">Add</a>
      </div>
    </div>
    {% endif %}
  </div>
  {% if user.profile.user_type == 'Job Seeker' %}
  <div class="news-content">
    <h3>Posted Rooms</h3>
    {% for room in postedroom %}
    <div class="jobseeker-list">
      <div class="js-title">{{ room.location }}located room</div>
      <div class="jsv-btn"><a href="{% url 'room:detail' user.profile.user_type room.id %}">View</a></div>
    </div>
    {% endfor %}
  </div>

  {% else %}
  <div class="news-content">
    <h3>Applied Room List</h3>
    {% for room in searchedroom %}
    <div class="jobseeker-list">
      <div class="js-title">{{ room.location }} located room</div>
      <div class="jsv-btn"><a href="{% url 'room:detail' user_type=user.profile.user_type room_id=room.id %}">View</a>
      </div>
    </div>
    {% endfor %}
  </div>

  {% endif %}
</section>
{% endif %}
{% endblock %}