container_commands:
  01_migrate:
    command: "source activate && python portal/manage.py migrate --noinput"
    leader_only: true

02_createsu:
  command: "source /activate && python portal/manage.py createsu"
  leader_only: true

03_collectstatic:
  command: "source activate && python portal/manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: portal/wsgi.py
    StaticFiles: /static/=allstatics/