
{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html>

{% block content %}

	<head>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
		integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.min.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static '/css/responsive.css' %}">
	</head>
	
	<body>

<div class="container-fluid text-center">
	{% bootstrap_messages %}
</div>


<section class="register-banner">
<div class="register-form">
	
		<div class="form-content">
		<h3>Register Form</h3>
		<form action="{% url 'users:register' %}" method="post">
			{% csrf_token %}
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="first_name" placeholder="First name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="last_name" placeholder="Last name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="username" placeholder="User name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-envelope"></i></span>
				<input type="email" name="email" placeholder="Email" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-star"></i></span>
				<input type="password" name="password1" placeholder="Password" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-star"></i></span>
				<input type="password" name="password2" placeholder="Confirm Password" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-phone"></i></span>
				<input type="number" name="number" placeholder="Number" class="form-control">
			</div>
			<div class="form-field">
				<span>Are you an Employeer or a Job Seeker?</span>&nbsp;&nbsp;
				<label class="job">
					{{profile_form.user_type}}</label>

			</div>
			<div class="register-btn">
				<input type="submit" name="register" value="Register" class="r-btn">
			</div>
		</form>
	</div>
</div>
</section>

{% endblock %}