{% extends 'jobs/index.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}Register{% endblock %}
{% block content %}
<div id="popup1" class="overlay">
	<div class="popup">
		<h2>Signup</h2>
		<a class="close" href="#">&times;</a>
		<div class="popup-content">
			<div class="row">
				<div class="col-lg-6">
					<div class="popup-left">
						<div class="p-icon"><img src="img/user.png"></div>
						<div class="p-title">For employer</div>
						<div class="p-button"><a href="">Signup</a></div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="popup-right">
						<div class="p-icon"><img src="img/jobseeker.png"></div>
						<div class="p-title">For jobseeker</div>
						<div class="p-button"><a href="">Signup</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% for banner in banners %}
<section class="eskill-banner" style="background-image: url('/media/{{ banner.login_register }}');">
	<div class="eskill-title">Register</div>
</section>
{% endfor %}

<div class="container-fluid text-center">
	{% bootstrap_messages %}
</div>

<section class="register-form">
	
		<div class="form-content">
		<h3>Register Form</h3>
		<form action="{% url 'users:register' %}" method="post">
			{% csrf_token %}
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="first_name" placeholder="First name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="last_name" placeholder="Last name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-user-alt"></i></span>
				<input type="name" name="username" placeholder="User name" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-envelope"></i></span>
				<input type="email" name="email" placeholder="Email" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-star"></i></span>
				<input type="password" name="password1" placeholder="Password" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-star"></i></span>
				<input type="password" name="password2" placeholder="Confirm Password" class="form-control">
			</div>
			<div class="form-field">
				<span class="form-field-icon"><i class="fas fa-phone"></i></span>
				<input type="number" name="number" placeholder="Number" class="form-control">
			</div>
			<div class="form-field">
				<span>Are you an Employeer or a Job Seeker?</span>&nbsp;&nbsp;
				<label class="job">
					{{profile_form.user_type}}</label>

			</div>
			<div class="register-btn">
				<input type="submit" name="register" value="Register" class="r-btn">
			</div>
		</form>
	</div>
</section>

{% endblock %}