{% extends 'jobs/index.html' %}
{% load static %}
{% load bootstrap3 %}
{% block title %}{% endblock %}

{% block content %}


{% if user.is_authenticated %}

{% for banner in banners %}
<section class="eskill-banner" style="background-image: url('/media/{{ banner.newsfeed_detail }}');">
    <div class="eskill-title">Detail</div>
</section>
{% endfor %}

<div class="container-fluid text-center">
    {% bootstrap_messages %}
</div>

<section class="detail">

    <div class="detail-content">
        <h3>Applicant details</h3>
        <div class="table-responsive">
            <table class="table">
                <tbody>
                    <tr class="table-row">
                        <td>Skills</td>
                        <td>:</td>
                        <td>
                            {% for skill in applied_jobs.skills.all %}
                            <span class="stext">{{skill.title}}</span>
                            {% endfor %}
                        </td>
                    </tr>

                    <tr class="table-row">
                        <td>Experiance</td>
                        <td>:</td>
                        <td>{{applied_jobs.experience}} Years</td>
                    </tr>
                    <!-- <tr class="table-row">
                        <td>Expected salary</td>
                        <td>:</td>
                        <td>Rs. 50000</td>
                    </tr> -->

                    <tr class="table-row">
                        <td>Address</td>
                        <td>:</td>
                        <td><span class="stext">{{applied_jobs.location}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

{% endif %}
{% endblock %}