<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    
    <title>{% block title %}Portal{% endblock %}</title>
</head>

<body>
    <main>
        {% block content %}
        <div class="container-fluid">
            <h3>Job Portal</h3>

            {% if user.is_authenticated %}
            Hello {{user.username}}
            <a href="{% url 'users:logout' %}">logout</a>
            {% else %}

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="text-align: right;">
                    <button><a href="{% url 'users:login_user' %}">Login</a></button>
                    <button><a href="{% url 'users:register' %}">Register</a></button>
                </div>
            </div>


            {% endif %}
        </div>
        {% endblock %}
    </main>

    <!-- Latest compiled and minified JavaScript -->
   
</body>

</html>