{% extends 'jobs/index.html' %}
{% load static %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}


{% for banner in banners %}
<section class="eskill-banner" style="background-image: url('/media/{{ banner.dashboard }}');">
    <div class="eskill-title">WELCOME {{ user.profile.user_type }} {{ user.username }}</div>
</section>
{% endfor %}

{% if user.is_authenticated %}

<div class="text-center" id="alert_message">
    {% bootstrap_messages %}
</div>

<section class="job-all">
    
    <div class="container">
        <div class="job-title">
            {% if user.profile.user_type == 'Job Seeker' %}
            <h1>What job do you need?</h1>
            {% else %}
            <h1>What are you looking for?</h1>
            {% endif %}

        </div>
        <div class="job-categories">
            <div class="row">
                {% for job in job_types %}
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <a href="
                    
                    
                    {% url 'jobs:job_list' job.slug %}
                   
                    ">
                        <div class="job-category">
                            <div class="job-icon"><i class="{{ job.icon }}"></i></div>
                            <div class="job-title">{{job.title}}</div>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <!-- <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                    <div class="job-category">
                        <div class="job-icon"><i class="fas fa-concierge-bell"></i></div>
                        <div class="job-title">Cook</div>
                    </div>
                </div> -->

            </div>
        </div>

    </div>
</section>

{% endif %}
{% endblock %}