{% extends 'jobs/index.html' %}
{% load static %}
{% load bootstrap3 %}
{% load class_name %}
{% block title %}{% endblock %}

{% block content %}



<section class="banner-parallax">
    <div class="banner-content">
        <div class="container">
            <div class="col-md-6 col-md-offset-3">
                <h1>We bring <span class="color-green">dreams</span> into reality</h1>
                <form action="{% url 'jobs:search' %}" method='get'>
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Browse job ...">
                        <span class="input-group-btn">
                            <button class="btn-u btn-u-lg" name="search" type="submit">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% if user.is_authenticated %}

<div class="text-center" id="alert_message">
    {% bootstrap_messages %}
</div>

<section class="job-all">
    <div class="container">
        <div class="job-title">
            {% if user.profile.user_type == 'Job Seeker' %}
            <h1>What job do you need?</h1>
            {% else %}
            <h1>What are you looking for?</h1>
            {% endif %}

        </div>
        <div class="job-categories">
            <div class="row">
                {% for job in job_types %}
                <div class="frame col-lg-3 col-md-3 col-sm-6 col-xs-6">
                    <img src="/media/{{ job.image }}">
                    <a href="  {% if user.is_authenticated %}
                {% url 'jobs:job_list' job.slug %}
                {% else %}
                {% url 'users:login_user' %}
                {% endif %}">
                        <div class="description">
                            <div class="title">
                                <h4>{{job.title}}</h4>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}

            </div>

        </div>


    </div>
</section>


{% endif %}
{% endblock %}