{% extends 'jobs/index.html' %}
{% load static %}
{% load filters %}
{% load bootstrap3 %}

{% block title %}{% endblock %}

{% block content %}

<script src="https://khalti.com/static/khalti-checkout.js"></script>
<section class="booking-banner">
    <div class="booking-title">Payment</div>
</section>

<div id="target"></div>

<section>
    <!-- Place this where you need payment button -->
    <!-- <button id="payment-button">Pay with Khalti</button> -->

    <div class="booking-type">
        <div class="booking-icon">

            <div class="e-icon">
                <div class="icon-img"><a href="https://esewa.com.np/"><img src="{% static '/img/esewa.png' %}"></a>
                </div>
                {% if user.profile.user_type == 'Job Seeker' %}
                {% for apply in applied %}
                {% if person.id == apply.user_id %}
                <form action="https://rc.esewa.com.np/epay/main" method="POST">

                    <input value="{{ apply.job_type.commission }}" name="tAmt" type="hidden">
                    <input value="{{ apply.job_type.commission }}" name="amt" type="hidden">
                    <input value="0" name="txAmt" type="hidden">
                    <input value="0" name="psc" type="hidden">
                    <input value="0" name="pdc" type="hidden">
                    <input value="NP-ES-EPAY" name="scd" type="hidden">
                    <input value="{{ apply.job_type.id }}" name="pid" type="hidden">
                    <input value="http://127.0.0.1:8000/jobs/" type="hidden" name="su">
                    <input value="http://127.0.0.1:8000/jobs/" type="hidden" name="fu">



                    <button class="payment-button1" type="submit">Pay with Esewa</button>
                </form>
                {% endif %}
                {% endfor %}

                {% else %}

                {% for post in posted %}
                {% if person.id == post.user_id %}
                <form action="https://rc.esewa.com.np/epay/main" method="POST">

                    <input value="{{ post.job_type.commission }}" name="tAmt" type="hidden">
                    <input value="{{ post.job_type.commission }}" name="amt" type="hidden">
                    <input value="0" name="txAmt" type="hidden">
                    <input value="0" name="psc" type="hidden">
                    <input value="0" name="pdc" type="hidden">
                    <input value="NP-ES-EPAY" name="scd" type="hidden">
                    <input value="112233223" name="pid" type="hidden">
                    <input value="http://127.0.0.1:8000/jobs/" type="hidden" name="su">
                    <input value="http://127.0.0.1:8000/jobs/" type="hidden" name="fu">



                    <button class="payment-button1" type="submit">Pay with Esewa</button>
                </form>
                {% endif %}
                {% endfor %}
                {% endif %}

            </div>
            <div class="k-icon">
                <div class="icon-img"><a href=""><img src="{% static '/img/khalti.png' %}"></a>
                    <!-- <button id="payment-button">Pay with Khalti</button> -->
                </div>
                <button id="payment-button" class="payment-button2">Pay with Khalti</button>
                <div class="text-center" id="alert_message">
                    {% bootstrap_messages %}
                </div>
            </div>
            <div class="i-icon">
                <div class="icon-img"><a href=""><img src="{% static '/img/ime.png' %}"></a>
                    <!-- <button id="payment-button">Pay with Khalti</button> -->
                </div>
                <button class="payment-button3">Pay with IME</button>
                <div class="text-center" id="alert_message">
                    {% bootstrap_messages %}
                </div>
            </div>
        </div>
    </div>
    <!-- Place this where you need payment button -->

    {% if user.profile.user_type == 'Job Seeker' %}
    {% for apply in applied %}

    <script>
        {% if person.id == apply.user_id %}
        var config = {
            // replace the publicKey with yours

            "publicKey": "test_public_key_dd62f6822b3e4ae7b1561839081e9e97",
            "productIdentity": "{{person.id}}",
            "productName": "{{apply.job_type.title}}",
            "productUrl": "http://127.0.0.1:8000",
            "eventHandler": {
                onSuccess(payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                    alert("Transaction Confirmed.");

                    $.ajax({
                        url: "{% url 'jobs:khalti' user.id %}",
                        type: "post",
                        data: payload,
                        dataType: 'json'
                    });
                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            checkout.show({ amount: {{ apply.job_type.commission | multiply:100 }} });
            }
        {% endif %}

    </script>


    {% endfor %}
    {% else %}
    {% for post in posted %}
    <script>
        {% if person.id == post.user_id %}
        var config = {
            // replace the publicKey with yours

            "publicKey": "test_public_key_dd62f6822b3e4ae7b1561839081e9e97",
            "productIdentity": "{{person.id}}",
            "productName": "{{post.job_type.title}}",
            "productUrl": "http://127.0.0.1:8000",
            "eventHandler": {
                onSuccess(payload) {
                    // hit merchant api for initiating verfication
                    console.log(payload);
                    alert("Transaction Confirmed.");
                    $.ajax({
                        url: "{% url 'jobs:khalti' user.id %}",
                        type: "post",
                        data: payload,
                        dataType: 'json'
                    });
                    //$.post("{% url 'jobs:khalti' user.id %}", payload)

                    //const Url = 'https://khalti.com/api/v2/payment/verify/';
                    //let Data = {
                    //token: payload.token,
                    //amount: payload.amount
                    //};
                    //let othePram = {
                    //headers: {
                    //'Authorization': 'Key test_secret_key_e12fdbb02fd94fe4ab7440da6af6ca87'
                    //},
                    //body: Data,
                    //method: "POST"
                    //};
                    //fetch(Url, othePram)
                    //.then(data => { return data.json() })
                    //.then(res => { console.log(res) })
                    //.catch(error => { console.log(error) })

                },
                onError(error) {
                    console.log(error);
                },
                onClose() {
                    console.log('widget is closing');
                }
            }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            checkout.show({ amount: {{ post.job_type.commission | multiply:100 }} });
                }
        {% endif %}

    </script>

    {% endfor  %}

    {% endif %}


</section>
<hr>





<!-- Paste this code anywhere in you body tag -->



{% endblock %}